<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/dist/css/adminlte.min.css') }}">

    <style>
        .carousel .carousel-item {
            height: 500px;
        }
        
        .carousel-item img {
            position: absolute;
            object-fit: cover;
            object-position: center;
            min-height: 300px;
        }
    </style>
</head>
<body class="layout-top-nav control-sidebar-slide-open layout-navbar-fixed">
    <div class="wrapper">

        <!-- 
        | =================================================================================
        |                               TOP NAVIGATION BAR
        | =================================================================================
        -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
        
                <!-- Brand -->
                <a href="#" class="navbar-brand order-0">
                    <img 
                        src="{{ url_for('static', path='/dist/img/AdminLTELogo.png') }}" 
                        alt="HoMIES" 
                        class="brand-image img-circle" 
                        style="opacity: .8"
                    >
                    <span class="brand-text font-weight-light">HoMIES</span>
                </a>
        
                <!-- Navbar Toggler -->
                <button 
                    class="navbar-toggler order-1 border-0" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarCollapse"
                >
                    <i class="fas fa-bars"></i>
                </button>
        
                <!-- Left Navbar Links -->
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
        
                        <!-- Medical Services -->
                        <li class="nav-item dropdown">
                            <a 
                                id="dropdownSubMenu1" 
                                href="#" 
                                data-toggle="dropdown"
                                class="nav-link dropdown-toggle"
                            >Medical Services</a>
        
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Find a Doctor</a></li>
                            </ul>
                        </li>
        
                        <!-- Patient & Visitor -->
                        <li class="nav-item dropdown">
                            <a 
                                id="dropdownSubMenu1" 
                                href="#" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false" 
                                class="nav-link dropdown-toggle"
                            >Patients & Visitor</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Some action </a></li>
                            <li><a href="#" class="dropdown-item">Some other action</a></li>
        
                            <li class="dropdown-divider"></li>
        
                            <!-- Level two dropdown-->
                            <li class="dropdown-submenu dropdown-hover">
                                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                                <li>
                                    <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                                </li>
        
                                <!-- Level three dropdown-->
                                <li class="dropdown-submenu">
                                    <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                                    <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                    <li><a href="#" class="dropdown-item">3rd level</a></li>
                                    <li><a href="#" class="dropdown-item">3rd level</a></li>
                                    </ul>
                                </li>
                                <!-- End Level three -->
        
                                <li><a href="#" class="dropdown-item">level 2</a></li>
                                <li><a href="#" class="dropdown-item">level 2</a></li>
                                </ul>
                            </li>
                            <!-- End Level two -->
                        </ul>
                        </li>
        
                        <!-- Careers -->
                        <li class="nav-item">
                            <a href="#careers" class="nav-link">Careers</a>
                        </li>
                        
                        <!-- About Us -->
                        <li class="nav-item dropdown">
                        <div
                            role="button"
                            data-toggle="dropdown"
                            class="nav-link dropdown-toggle"
                        >About Us</div>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Vision & Mission</a></li>
                            <li><a href="#" class="dropdown-item">History</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a href="#" class="dropdown-item">Data Privacy</a></li>
                            <li><a href="#" class="dropdown-item">Terms and Conditions</a></li>
                            <li><a href="#" class="dropdown-item">FAQ</a></li>
                        </ul>
                    </li>

                    
                        <!-- Vendors -->
                        <li class="nav-item">
                            <a href="/vendor-login" class="nav-link">Vendors</a>
                        </li>
        
                    </ul>
                </div>
        
                <!-- Right Navbar Links -->
                <div class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <a href="/login" class="btn btn-outline-primary text-nowrap">
                        <span>Log in</span>
                        <i class="fas fa-sign-in-alt ml-1"></i>
                    </a>
                </div>
            </div>
        </nav>

        <!-- 
        | =================================================================================
        |                                   CONTENT / BODY
        | =================================================================================
        -->
        <div class="content-wrapper pb-5">

            <!-- Carousel -->
            <div id="homeCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#homeCarousel" data-slide-to="1"></li>
                    <li data-target="#homeCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Your health is our first concern</h5>
                            <p>We always prioritize your good health and condition</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1626351545208-28c9080106ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Be updated to COVID-19 news</h5>
                            <p>Check out our latest news and updates about COVID-19</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1514415679929-1fd5193f14f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Best facilities and equipment</h5>
                            <p>We can provide the best facilities and equipment for best medical care</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- User Redirect -->
            <div class="content bg-white">
                <div class="p-3 p-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 m-1 m-md-0">
                                <a href="/find-doctor" class="btn btn-lg btn-outline-primary btn-block p-3 h-100" style="font-weight: 600;">
                                    <i class="fas fa-user-md mr-1"></i>
                                    <span>Find a Doctor</span>
                                </a>
                            </div>
                            <div class="col-md-4 m-1 m-md-0">
                                <a href="#" class="btn btn-lg btn-outline-primary btn-block p-3 h-100" style="font-weight: 600;">
                                    <i class="fas fa-walking mr-1"></i>
                                    <span>I want to visit</span>
                                </a>
                            </div>
                            <div class="col-md-4 m-1 m-md-0">
                                <a href="#" class="btn btn-lg btn-outline-primary btn-block p-3 h-100" style="font-weight: 600;">
                                    <i class="fas fa-calendar-check mr-1"></i>
                                    <span>Book an Appointment</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other Content -->
            <div class="content">
                <div class="container py-5">
                    <h1 class="text-center mb-5">Our Services</h1>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 order-2 order-md-1">
                                    <div class="mb-3">
                                        <h2 class="text-primary">Executive Health Check</h1>
                                        <h5>Be Healthy. Stay Healthy</h5>
                                    </div>
                                    <p class="text-secondary">Our team of doctors and healthcare professionals are on hand to guide you through your wellness journey. Our Executive Health Check ensures total care whether in gaining back your good health or maintaining your fitness level.</p>
                                    <a href="#" class="btn btn-primary">
                                        <span>Read more</span>
                                        <i class="fas fa-caret-right ml-1"></i>
                                    </a>
                                </div>
                                <div class="col-md-4 order-1 order-md-2">
                                    <div class="d-flex justify-content-md-end">
                                        <img 
                                            class="w-100 rounded mb-3 mb-md-0" 
                                            src="https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" 
                                            alt="Executive Health Check"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 order-2 order-md-1">
                                    <div class="mb-3">
                                        <h2 class="text-primary">Cardiovascular Center</h1>
                                        <h5>State-of-the-Heart experience</h5>
                                    </div>
                                    <p class="text-secondary">Our Cardiovascular Center offers the finest and most comprehensive care for heart patients that is recognized both here and abroad for its medical breakthroughs.</p>
                                    <a href="#" class="btn btn-primary">
                                        <span>Read more</span>
                                        <i class="fas fa-caret-right ml-1"></i>
                                    </a>
                                </div>
                                <div class="col-md-4 order-1 order-md-2">
                                    <div class="d-flex justify-content-end">
                                        <img 
                                            class="w-100 rounded mb-3 mb-md-0" 
                                            src="https://images.unsplash.com/photo-1460672985063-6764ac8b9c74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1476&q=80" 
                                            alt="Cardiovascular Center"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 order-2 order-md-1">
                                    <div class="mb-3">
                                        <h2 class="text-primary">Oncology Unit</h1>
                                        <h5>Devotion to Excellent Care.</h5>
                                    </div>
                                    <p class="text-secondary">Our Oncology Unit provides expert patient care with a compassionate touch. We are committed to deliver excellent care to meet the medical and emotional needs of patients and their families.</p>
                                    <a href="#" class="btn btn-primary">
                                        <span>Read more</span>
                                        <i class="fas fa-caret-right ml-1"></i>
                                    </a>
                                </div>
                                <div class="col-md-4 order-1 order-md-2">
                                    <div class="d-flex justify-content-end">
                                        <img 
                                            class="w-100 rounded mb-3 mb-md-0" 
                                            src="https://images.unsplash.com/photo-1598884143267-586d90a32141?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1473&q=80" 
                                            alt=""
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>

        <!-- 
        | =================================================================================
        |                                    FOOTERS
        | =================================================================================
        -->
        
        <!-- Main Footer -->
        <div class="main-footer bg-dark text-white pb-5">
            <div class="container py-3">
                <div class="row">

                    <div class="col-md-4">
                        <div class="container my-3">
                            <h5>About Us</h5>
                            <p>Holistic medical clinics and holistic medical practitioners offer a variety of holistic and naturopathic medical treatments and holistic and alternative medical treatments.</p>
                            
                            <ul class="nav flex-column">
                                <li class="nav-item nav-link">
                                    <i class="fas fa-phone mr-1"></i>
                                    <span>123-456-(7890)</span>
                                </li>
                                <li class="nav-item nav-link">
                                    <i class="fas fa-building mr-1"></i>
                                    <span>123 Somewhere St. Commonwealth, QC</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="container my-3">
                            <h5>Quick Links</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Careers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Patients & Visitors</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="container my-3">
                            <h5>Contact Us</h5>
                            <form class="form-group" id="emailForUpdates">
                                <p>Send us your email here and you will be updated on our news and services</p>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Type your email here">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Small Footer -->
        <footer class="main-footer navbar-dark">
            <div class="container">
                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center">
                    <strong>Copyright &copy; 2014-2021 Homies.</strong> 
                    <div>All rights reserved</div>
                </div>
            </div>
        </footer>

    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', path='/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- overlayScrollbars -->
    <script src="{{ url_for('static', path='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', path='/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="{{ url_for('static', path='/dist/js/demo.js') }}"></script> -->
</body>
</html>