{% extends "internal/procurement_management/p_manager_base.html" %}
{% set active_page = "budgets" %}
{% set active_module = "procurement" %}




{% block title %}Budgets{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <!-- Title -->
        <div class="col-sm-6">
          <h1>Budgets</h1>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budgets</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


    
        <div class="row">
            <div class="col-3 col-md-12 text-center">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title" id="curr_year"></h3>
                </div>
                <div class="card-body" id="budget_charts_body">
                  <div class="row d-flex justify-content-between">
           
                    <div class="col-md-4">
                        <!-- STACKED BAR CHART -->
                        <div class="card border-0">
                          <div class="card-header">
                            <h3 class="card-title">Monthly Spent</h3>
              
                          </div>
                          <div class="card-body">
                              <input type="text" class="knob" value="100" data-width="150" data-height="150"
                               data-fgColor="#f56954">
              
                               <div class="d-flex justify-content-between my-3">
                                 <div class="knob-label h5">Given Budget:</div>
                                 <div class="knob-label h5">Total Spent: </div>
              
                                </div>
                                <div class="knob-label h5">Remaining: </div>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>

                      <div class="col-md-4">
                        <!-- STACKED BAR CHART -->
                        <div class="card border-0">
                          <div class="card-header">
                            <h3 class="card-title">Monthly Spent</h3>
              
                          </div>
                          <div class="card-body">
                              <input type="text" class="knob" value="100" data-width="150" data-height="150"
                               data-fgColor="#f56954">
              
                               <div class="d-flex justify-content-between my-3">
                                 <div class="knob-label h5">Given Budget:</div>
                                 <div class="knob-label h5">Total Spent: </div>
              
                                </div>
                                <div class="knob-label h5">Remaining: </div>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
    
                    <div class="col-md-4">
                      <!-- STACKED BAR CHART -->
                      <div class="card border-0">
                        <div class="card-header">
                          <h3 class="card-title">Monthly Spent</h3>
            
                        </div>
                        <div class="card-body">
                            <input type="text" class="knob" value="100" data-width="150" data-height="150"
                             data-fgColor="#f56954">
            
                             <div class="d-flex justify-content-between my-3">
                               <div class="knob-label h5">Given Budget:</div>
                               <div class="knob-label h5">Total Spent: </div>
            
                              </div>
                              <div class="knob-label h5">Remaining: </div>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
    
            </div>
          </div>
    
          </div>
    
        
        </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script src="{{ url_for('static', path='/dist/js/procurement/budgets/budgets.js') }}"></script>





{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}