{% extends "internal/procurement_management/p_manager_base.html" %}
{% set active_page = "list_of_rfq" %}
{% set active_module = "procurement" %}


{% block title %}RFQ Reports{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <!-- Title -->
        <div class="col-sm-6">
          <h1>List of Request For Quotation</h1>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">List of RFQ</li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <!-- Card -->
          <div class="card card-primary card-outline">
            <!-- Card Header -->
            <div class="card-header">
              <div class="row mb-3">
                <div class="col-6
                d-sm-flex
                align-items-center">
                  <h3 class="card-title">List of Request For Quotation</h3>
                </div>


              </div>

            </div>
            <!-- /.card-header -->


            <!-- Card Body -->
            <div class="card-body">
              <input type="hidden" id="start_date" name="start_date">
              <input type="hidden" id="end_date" name="end_date">

              <div class="form-group row justify-content-end">

                <div class="col-md-4">

                  <button type="button" class="btn btn-default float-right" id="reservation">
                    <i class="far fa-calendar-alt"></i> <span id="reportrange">
                      Filter Date
                    </span>
                    <i class="fas fa-caret-down"></i>
                  </button>
                </div>
                <div class="col-md-2">
                  <select class="form-control float-right select2" name="rfq_status" id="rfq_status">
                    <option value="">All Status</option>

                    <option value="On Going">On Going</option>
                    <option value="Closed">Closed</option>

                  </select>
                </div>
              </div>
              <table id="data-table" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>RFQ Code</th>
                    <th>RFQ No.</th>

                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Status</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="{{ url_for('static', path='/dist/js/procurement/request_quotation/rfq_reports.js') }}"></script>


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-print">
  <div class="
          modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content rfq-report-modal-content">

      <div class="modal-header rfq-report-modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Request For Quotation</div>
        </div>
        <!-- <h4 class="modal-title">Purchase Request</h4> -->
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <!-- <div class="modal-body-wrapper"> -->
      <div class="modal-body rfq-report-modal-body p-5">




        <div class="form-group row mb-3">
          <div class="col-md-12">

            <h3 id="rfq_number">Request for Quotation</h3>
            <!-- <h3>Terms of Reference</h3> -->
            <input type="hidden" id="request_quotation_id" name="request_quotation_id">
          </div>

        </div>





        <!-- form -->
        <!-- your steps content here -->
        <div class="form-group row ">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prepared_by">Prepared by</label>
              <input type="text" class="form-control" id="prepared_by" name="prepared_by" readonly>
            </div>
          </div>


          <div class="col-md-6">
            <div class="mb-3 form-group">
              <label for="budget">Budget</label>

              <div class="mb-3 input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text">&#8369;</span>
                </div>
                <input type="text" class="form-control" id="budget" name="budget" readonly>
              </div>

            </div>
          </div>
        </div>


        <div class="form-group row m-t-10">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prepared_by">Quotation Code</label>
              <input type="text" class="form-control" id="quotation_code" name="quotation_code" readonly>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="due_date">Due Date<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="due_date" name="due_date" readonly>
            </div>
          </div>
        </div>


        <div class="row my-5">
          <div class="col-md-12">
            <label class="h5">Item Details</label>
            <table id="pr-detail-table" class="table table-hover table-bordered" style="width: 100%;">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Item</th>
                  <th>Description</th>
                  <th>Estimated Price</th>
                  <th>Quantity</th>
                  <th>Estimated Total</th>


                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </div>
        </div>



        <div class="row">
          <div class="col-md-12 form-group summernote">
            <label for="message">Message<span class="text-danger">*</span></label>

            <textarea class="form-control" id="message" name="message" readonly></textarea>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-6">

            <label class="mt-3">Vendors Involved</label>
            <ul class="list-unstyled" id="vendors_involved">

            </ul>

          </div>
        </div>
        <!-- <div id="display-pdf"></div> -->




      </div>
      <!-- </div> -->
      <div class="modal-footer rfq-report-modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary print">
          Print
          <i class="fas fa-print ml-1"></i>
        </button>
      </div>
    </div>

    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}