
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Main Dashboard | Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/') }}dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed user-select-none">
    <div class="wrapper">
    
        <!-- 
        | =================================================================================
        |                               TOP NAVIGATION BAR
        | =================================================================================
        -->
        <nav class="main-header navbar navbar-expand-md navbar-white navbar-light">
    

            <!-- Left navbar links togglers (for responsive) -->
            <ul class="navbar-nav navbar-no-expand">
        
                <!-- Sidebar Toggler -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
        
                <!-- Tobpar toggler -->
                <li class="nav-item">
                    <button class="nav-link navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <i class="fas fa-caret-down"></i>
                    </button>
                </li>
            </ul>
            
        
            <!-- Left navbar links -->
            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <ul class="navbar-nav">
        
                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="../user/main_dashboard" role="button">
                            <i class="fas fa-home"></i>
                            <span class="d-inline-block d-md-none ml-1 ml-md-0">Home</span>
                        </a>
                    </li>
        
                    <!-- Hospital Core -->
                    <li class="nav-item dropdown">
                        <a 
                            href="#" 
                            data-toggle="dropdown" 
                            class="nav-link dropdown-toggle"
                        >Hospital Core</a>
                        
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="./submodule.html" class="dropdown-item">Patient Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Treatment Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Pharmacy</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Medical Record</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Doctors Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Visitors Management</a></li>
                        </ul>
                    </li>
        
                    <!-- Human Resource -->
                    <li class="nav-item dropdown">
                        <a 
                            href="#" 
                            data-toggle="dropdown" 
                            class="nav-link dropdown-toggle"
                        >Human Resource</a>
                        
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="./submodule.html" class="dropdown-item">Core Human Capital Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Recruitment Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Time & Attendance</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Performance Management</a></li>
                        </ul>
                    </li>
        
                    <!-- Finance -->
                    <li class="nav-item dropdown">
                        <a 
                            href="#" 
                            data-toggle="dropdown" 
                            class="nav-link dropdown-toggle"
                        >Finance</a>
                        
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="./submodule.html" class="dropdown-item">General Ledger</a></li>
                            <li><a href="../admin/dashboard" class="dropdown-item">Accounts Payable/Receivable</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Collection/Disbursement</a></li>
                        </ul>
                    </li>
        
                    <!-- Logistics -->
                    <li class="nav-item dropdown">
                        <a 
                            href="#" 
                            data-toggle="dropdown" 
                            class="nav-link dropdown-toggle"
                        >Logistics</a>
                        
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="./submodule.html" class="dropdown-item">Procurement Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Warehousing Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Asset Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Project Management</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  
            
        
            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            
                <!-- User Menu -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                        <i class="fas fa-user-circle"></i>
                        <!-- <span class="badge badge-warning navbar-badge">15</span> -->
                    </a>
            
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item d-flex align-items-center">
                            <div class="mr-3" style="width: 1.25rem">
                                <i class="fas fa-user"></i>
                            </div>
                            <span>Profile</span>
                        </a>
                        <a href="#" class="dropdown-item d-flex align-items-center">
                            <div class="mr-3" style="width: 1.25rem">
                                <i class="fas fa-cog"></i>
                            </div>
                            <span>Settings</span>
                        </a>
            
                        <div class="dropdown-divider"></div>
                        
                        <a
                            href="#"
                            role="button" 
                            class="dropdown-item d-flex align-items-center" 
                            data-toggle="modal" 
                            data-target="#logoutModal"
                        >
                            <div class="mr-3" style="width: 1.25rem">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Log out</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- 
        | =================================================================================
        |                               SIDE NAVIGATION BAR
        | =================================================================================
        -->
        <aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
            
            <!-- Brand Logo -->
            <a href="../../../dashboard.html" class="brand-link">
            <img src="{{ url_for('static', path='/') }}dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle border" style="opacity: .8">
            <span class="brand-text font-weight-light">HoMIES</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar user -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                      <img
                        src="{{ url_for('static', path='/') }}dist/img/user2-160x160.jpg"
                        id="user_image"
                        class="img-circle elevation-2"
                        alt="User Image"
                      />
                    </div>
                    <div class="info">
                      <!-- User Name -->
                      <span id="user_name" class="d-block"></span>
                      <!-- User Type -->
                      <div
                        class="small text-secondary text-truncate"
                        id="user_type"
                      ></div>
                      <!-- User Department -->
                      <div
                        class="small text-secondary text-truncate"
                        id="department"
                      ></div>
                    </div>
                  </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        
                        <!-- Module Name -->
                        <li class="nav-header font-weight-bold text-wrap">HOME</li>

                        <li class="nav-header">CORE</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>Main Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <!-- Sidebar Custom -->
            <div class="sidebar-custom">
                <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
                <button
                    class="btn btn-sm btn-danger hide-on-collapse pos-right"
                    data-toggle="modal"
                    data-target="#logoutModal"
                >
                    <span>Log out</span>
                    <i class="fas fa-sign-out-alt ml-1"></i>
                </button>
            </div>
        </aside>

        <!-- 
        | =================================================================================
        |                         CONTENT-WRAPPER  (For page content)
        | =================================================================================
        -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <h1>Dashboard</h1>
                    <p class="text-muted">Admin Dashboard Page</p>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid"> 
                    
                    <!-- Under Maintenance -->
                    <div class="d-flex flex-column justify-content-center align-items-center text-center">
                        <div class="py-5 d-flex justify-content-center">
                            <img 
                                draggable="false"
                                src="{{ url_for('static', path='/') }}dist/img/under_construction.svg" 
                                alt="Under Maintenance" 
                                width="50%"
                            >
                        </div>
                        <h4>Oops! This page is under maintenance.</h4>
                        <p class="text-secondary">You can go back in others days. Sorry for the incovenience.</p>
                    </div>

                </div>
            </section>
        </div>

        <!-- 
        | =================================================================================
        |                               FOOTER
        | =================================================================================
        -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block"><b>Version</b> 3.1.0</div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
        
        <!-- 
        | =================================================================================
        |                      LOGOUT MODAL (For demo purposes)
        | =================================================================================
        -->
        <div class="modal" id="logoutModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fas fa-sign-out-alt text-secondary mr-2"></i>
                            <span>Log out</span>
                        </h4>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" id="closeLogoutModalBtn">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure you want to logout?</p>
                    </div>
                    
                    <div class="modal-footer">
                        <button 
                            type="button" 
                            class="btn btn-default" 
                            data-dismiss="modal"
                            id="cancelLogoutBtn"
                        >Cancel</button>
                        <button type="button" class="btn btn-danger" id="logoutBtn">
                            <a href="../login" class="text-white">Log out</a>
                            <i class="fas fa-sign-out-alt ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 
    | =================================================================================
    |                               JAVASCRIPT FILES
    | =================================================================================
    -->

    <!-- jQuery -->
    <script src="{{ url_for('static', path='/') }}plugins/jquery/jquery.min.js"></script>
    <!-- jquery cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ url_for('static', path='/') }}plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="{{ url_for('static', path='/') }}plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="{{ url_for('static', path='/') }}plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/jszip/jszip.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/pdfmake/pdfmake.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/pdfmake/vfs_fonts.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', path='/') }}dist/js/adminlte.min.js"></script>
    <script src="{{ url_for('static', path='/') }}dist/custom_js/ap_ar/common.js"></script>

</body>
</html>