<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>HOMIES</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/fontawesome-free/css/all.min.css" />
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
	<!-- Tempusdominus Bootstrap 4 -->
	<!-- <link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
		/> -->
	<!-- iCheck -->
	<!-- <link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/icheck-bootstrap/icheck-bootstrap.min.css"
		/> -->
	<!-- JQVMap -->
	<!-- <link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/jqvmap/jqvmap.min.css"
		/> -->
	<!-- DataTables -->
	<link rel="stylesheet"
		href="{{ url_for('static', path='/') }}plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet"
		href="{{ url_for('static', path='/') }}plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
	<link rel="stylesheet"
		href="{{ url_for('static', path='/') }}plugins/datatables-buttons/css/buttons.bootstrap4.min.css" />
	<!-- Toastr -->
	<link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/toastr/toastr.min.css" />
	<!-- Select2 -->
	<link rel="stylesheet" href="{{ url_for('static', path='/') }}plugins/select2/css/select2.min.css" />
	<link rel="stylesheet"
		href="{{ url_for('static', path='/') }}plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="{{ url_for('static', path='/') }}dist/css/adminlte.min.css" />
	<!-- overlayScrollbars -->
	<link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
		/>
	<!-- Daterange picker -->
	<!-- <link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/daterangepicker/daterangepicker.css"
		/> -->
	<!-- summernote -->
	<!-- <link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/summernote/summernote-bs4.min.css"
		/> -->
		<style>
			.dataTables_length {
				padding-top: 10px;
			}

			.form-required-field:after {
				content: " *";
				color: red;
			}
			.view-info-table th {
				width: 200px;
			}
		</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed user-select-none">
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand-md navbar-white navbar-light">
			<!-- Left navbar links togglers (for responsive) -->
			<ul class="navbar-nav navbar-no-expand">
				<!-- Sidebar Toggler -->
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button">
						<i class="fas fa-bars"></i>
					</a>
				</li>

				<!-- Tobpar toggler -->
				<li class="nav-item">
					<button
						class="nav-link navbar-toggler border-0"
						type="button"
						data-toggle="collapse"
						data-target="#navbarCollapse"
					>
						<i class="fas fa-caret-down"></i>
					</button>
				</li>
			</ul>

			<!-- Left navbar links -->
			<div class="collapse navbar-collapse order-3" id="navbarCollapse">
				<ul class="navbar-nav">
					<!-- Home -->
					<li class="nav-item">
						<a class="nav-link" href="../admin/main_dashboard" role="button">
							<i class="fas fa-home"></i>
							<span class="d-inline-block d-md-none ml-1 ml-md-0">Home</span>
						</a>
					</li>

					<!-- Hospital Core -->
					<li class="nav-item dropdown">
						<a
							href="#"
							data-toggle="dropdown"
							class="nav-link dropdown-toggle"
							>Hospital Core</a
						>

						<ul class="dropdown-menu dropdown-menu-left">
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Patient Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Treatment Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item">Pharmacy</a>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Medical Record</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Doctors Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Visitors Management</a
								>
							</li>
						</ul>
					</li>

					<!-- Human Resource -->
					<li class="nav-item dropdown">
						<a
							href="#"
							data-toggle="dropdown"
							class="nav-link dropdown-toggle"
							>Human Resource</a
						>

						<ul class="dropdown-menu dropdown-menu-left">
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Core Human Capital Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Recruitment Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Time & Attendance</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Performance Management</a
								>
							</li>
						</ul>
					</li>

					<!-- Finance -->
					<li class="nav-item dropdown">
						<a
							href="#"
							data-toggle="dropdown"
							class="nav-link dropdown-toggle text-primary"
							>Finance</a
						>

						<ul class="dropdown-menu dropdown-menu-left">
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>General Ledger</a
								>
							</li>
							<li>
								<a href="../admin/dashboard" class="dropdown-item text-primary"
									>Accounts Payable/Receivable</a
								>
							</li>
							<li>
								<a
									href="./submodule.html"
									class="dropdown-item"
									>Collection/Disbursement</a
								>
							</li>
						</ul>
					</li>

					<!-- Logistics -->
					<li class="nav-item dropdown">
						<a
							href="#"
							data-toggle="dropdown"
							class="nav-link dropdown-toggle"
							>Logistics</a
						>

						<ul class="dropdown-menu dropdown-menu-left">
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Procurement Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Warehousing Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Asset Management</a
								>
							</li>
							<li>
								<a href="./submodule.html" class="dropdown-item"
									>Project Management</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Right navbar links -->
			<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#">
						<i class="fas fa-user-circle"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="profile" class="dropdown-item mt-2">
							<i class="fas fa-user mr-3"></i> Profile
						</a>
						<a href="account_settings" class="dropdown-item mb-2">
							<i class="fas fa-cog pr-1 mr-3"></i>Settings
						</a>
						<div class="dropdown-divider"></div>
						<a href="http://localhost:8000/login" class="dropdown-item">
							<i class="fas fa-sign-out-alt mr-3"></i> Log out
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
			<!-- Brand Logo -->
			<a href="dashboard" class="brand-link">
				<img src="{{ url_for('static', path='/') }}dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
					class="brand-image img-circle border" style="opacity: 0.8" />
				<span class="brand-text font-weight-light">HoMIES</span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img
								src="{{ url_for('static', path='/') }}dist/img/user2-160x160.jpg"
								id="user_image"
								class="img-circle elevation-2"
								alt="User Image"
							/>
						</div>
						<div class="info">
							<!-- User Name -->
							<span id="user_name" class="d-block"></span>
							<!-- User Type -->
							<div
								class="small text-secondary text-truncate"
								id="user_type"
							></div>
							<!-- User Department -->
							<div
								class="small text-secondary text-truncate"
								id="department"
							></div>
						</div>
					</div>
				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
						data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
						 <!-- Module Name -->
						 <li class="nav-header font-weight-bold text-wrap">ACCOUNTS RECEIVABLE & ACCOUNTS PAYABLE</li>
            
						<li class="nav-header">DASHBOARD</li>
						<li class="nav-item">
							<a href="dashboard" class="nav-link">
								<i class="nav-icon fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-header">Accounts Receivable</li>
						<li class="nav-item">
							<a href="inpatient_bills" class="nav-link">
								<i class="nav-icon fa fa-list" aria-hidden="true"></i>
								<p>Inpatient Bill</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="bill" class="nav-link">
								<i class="nav-icon fa fa-list" aria-hidden="true"></i>
								<p>Bill</p>
							</a>
						</li>
						<li class="nav-header">USER MANAGEMENT</li>
						<li class="nav-item">
							<a href="employees" class="nav-link">
								<i class="nav-icon fas fa-user-tie"></i>
								<p>Employees</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="users" class="nav-link">
								<i class="nav-icon fas fa-users"></i>
								<p>Users</p>
							</a>
						</li>
						
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
			<!-- Sidebar Custom -->
			 <!-- Sidebar Custom -->
			 <div class="sidebar-custom">
                <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
                <button
                    class="btn btn-sm btn-danger hide-on-collapse pos-right"
                    data-toggle="modal"
                    data-target="#logoutModal"
                >
                    <span>Log out</span>
                    <i class="fas fa-sign-out-alt ml-1"></i>
                </button>
            </div>
				<!-- /.sidebar-custom -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		{% block content %} {% endblock %}
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			<strong>Copyright &copy; 2021 <a href="dashboard">HOMIES.com</a>.</strong>
			All rights reserved.
			<div class="float-right d-none d-sm-inline-block">
				<b>Version</b> 1.0
			</div>
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-light">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->
	<script src="{{ url_for('static', path='/') }}plugins/jquery/jquery.min.js"></script>
	<!-- jquery cookie -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<!-- moment -->
	<script src="{{ url_for('static', path='/') }}plugins/moment/moment.min.js"></script>
	<!-- Select2 -->
	<script src="{{ url_for('static', path='/') }}plugins/select2/js/select2.full.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="{{ url_for('static', path='/') }}plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- JQuery Print Preview -->
	<script type="text/javascript" src="{{ url_for('static', path='/') }}plugins/jquery-printPreview/js/printPreview.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge("uibutton", $.ui.button);
	</script>
	<!-- Bootstrap 4 -->
	<script src="{{ url_for('static', path='/') }}plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/chart.js/Chart.min.js"></script> -->
	<!-- Sparkline -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/sparklines/sparkline.js"></script> -->
	<!-- JQVMap -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/jqvmap/jquery.vmap.min.js"></script> -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/jqvmap/maps/jquery.vmap.usa.js"></script> -->
	<!-- jQuery Knob Chart -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/jquery-knob/jquery.knob.min.js"></script> -->
	<!-- daterangepicker -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/moment/moment.min.js"></script> -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/daterangepicker/daterangepicker.js"></script> -->
	<!-- Tempusdominus Bootstrap 4 -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script> -->
	<!-- Summernote -->
	<!-- <script src="{{ url_for('static', path='/') }}plugins/summernote/summernote-bs4.min.js"></script> -->
	<!-- overlayScrollbars -->
	<script src="{{ url_for('static', path='/') }}plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!--Datatable plugins-->
	<script src="{{ url_for('static', path='/') }}plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="{{ url_for('static', path='/') }}plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script
		src="{{ url_for('static', path='/') }}plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/jszip/jszip.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/pdfmake/pdfmake.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/pdfmake/vfs_fonts.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<!-- jquery-validation -->
	<script src="{{ url_for('static', path='/') }}plugins/jquery-validation/jquery.validate.min.js"></script>
	<script src="{{ url_for('static', path='/') }}plugins/jquery-validation/additional-methods.min.js"></script>
	<!-- AdminLTE App -->
	<script src="{{ url_for('static', path='/') }}dist/js/adminlte.js"></script>
	<!-- Toastr -->
	<script src="{{ url_for('static', path='/') }}plugins/toastr/toastr.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<!-- <script src="{{ url_for('static', path='/') }}js/demo.js"></script> -->
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<!-- <script src="{{ url_for('static', path='/') }}js/pages/dashboard.js"></script> -->
	<!--Custom JS-->
	<!-- Common JS-->
	<script src="{{ url_for('static', path='/') }}dist/custom_js/ap_ar/common.js"></script>
	{% block customjs %} {% endblock %}
</body>

</html>