<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>HMCMS - Log in</title>

		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/fontawesome-free/css/all.min.css"
		/>
		<!-- icheck bootstrap -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/icheck-bootstrap/icheck-bootstrap.min.css"
		/>
		<!-- Toastr -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}plugins/toastr/toastr.min.css"
		/>
		<!-- Theme style -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', path='/') }}css/adminlte.min.css"
		/>
	</head>
	<body class="hold-transition login-page bg-white">
		<div class="login-box">
			<div class="login-logo">
			  <a href="login">HoMIES</a>
			</div>
			<!-- /.login-logo -->
			<div class="card shadow-none">
			  <div class="card-body login-card-body">
				<p class="login-box-msg">Log in to start your session</p>
				
				<form id="login_form">
					<div class="form-group">
						<label for="email">Email</label>
					<div class="input-group">
						<input
							id="username"
							name="username"
							type="text"
							class="form-control"
							placeholder="Email"
							required
							data-msg-required="Please enter your username."
						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					</div>
					
					<div class="form-group">
						<div class="d-flex align-items-center justify-content-between">
                            <label for="password">Password</label>
                            <a class="mb-3" href="#">I forgot my password</a>
                        </div>

						<div class="input-group">
						<input
							id="password"
							name="password"
							type="password"
							class="form-control"
							placeholder="Password"
							required
							data-msg-required="Please enter your password."
						/>
						<!-- 								pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							data-msg-pattern="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" -->
							<div class="input-group-append">
								<div class="input-group-text">
									<span id="password_icon" class="fas fa-lock"></span>
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
					
							<button
								type="submit"
								class="btn btn-block btn-primary"
								id="login_btn"
							>
								Log in<i class="fas fa-sign-in-alt ml-1"></i>
							</button>
					<!-- /.col -->
				</form>
				
			  <!-- /.login-card-body -->
			</div>
		  </div>

		<!-- jQuery -->
		<script src="{{ url_for('static', path='/') }}plugins/jquery/jquery.min.js"></script>
		<!-- jquery cookie -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
		<!-- Bootstrap 4 -->
		<script src="{{ url_for('static', path='/') }}plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- jquery-validation -->
		<script src="{{ url_for('static', path='/') }}plugins/jquery-validation/jquery.validate.min.js"></script>
		<script src="{{ url_for('static', path='/') }}plugins/jquery-validation/additional-methods.min.js"></script>
		<!-- AdminLTE App -->
		<script src="{{ url_for('static', path='/') }}js/adminlte.min.js"></script>
		<!-- Toastr -->
		<script src="{{ url_for('static', path='/') }}plugins/toastr/toastr.min.js"></script>
		<!--custom js-->
		<!--common js-->
		<!-- <script src="{{ url_for('static', path='/') }}customjs/common.js"></script> -->
		<script src="{{ url_for('static', path='/') }}customjs/login.js"></script>
	</body>
</html>
