{% extends "internal/p_officer_base.html" %}
{% set active_page = "invoice" %}
{% set active_module = "procurement" %}




{% block title %}Invoice{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <!-- Title -->
        <div class="col-sm-6">
          <h1>Invoice</h1>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Invoice</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <!-- form -->
      <div class="row" id="div_form">
        <div class="col-xl-12">
          <form id="form_id" name="form_id" enctype="multipart/form-data">

          <div class="card card-primary card-outline">
            <div class="card-header">
            Invoice
            </div>
            <div class="card-body">
             

                <input type="hidden" id="uuid" name="uuid" />
                <div class="row">
             
                  <div class="col-md-6">
                    <label>Purchase order number</label>
                    <h5 id="po_number"></h5>
                    <!-- <select class="form-control select2" name="po_number" id="po_number"> -->

                    </select>
                  </div>
                </div>


                <div class="row mt-5">
               
                  <div class="col-md-6">

                    <div class="row">
                      <div class="col-md-6">
                        <label>PO Date</label>
                      </div>
                      <div class="col-md-6">
                        <p id="order_date" name="order_date"></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Invoice Date</label>
                      </div>
                      <div class="col-md-6">
                        <p id="invoice_date" name="invoice_date"></p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <label>Shipment Method</label>
                      </div>
                      <div class="col-md-6">
                        <p id="shipping_method" name="shipping_method"></p>

                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-6">
                        <label>Payment Method</label>
                      </div>

                      <div class="col-md-6">
                        <p id="payment_method" name="payment_method"></p>

                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <label>Payment Terms</label>
                      </div>

                      <div class="col-md-6">
                        <p id="payment_terms" name="payment_terms"></p>

                      </div>

                    </div>

                  </div>

                  <div class="col-md-6">
                    
                    <div class="row mb-3">
                      <div class="col-md-10">
                        <label>Prepared By</label>
                        <input type="text" class="form-control" id="prepared_by" name="prepared_by">
                        </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-10">
                        <label>Due date</label>
                        <input type="text" class="form-control" id="due_date" name="due_date">
                        </div>
                    </div>

                 
                    <div class="row">
                      <div class="col-md-10">
                        <label>Billing Address</label>
                        <textarea class="form-control" name="billing_address" id="billing_address"></textarea>
                      </div>
                    </div>
                  </div>

                </div>


                <hr />

                <label class="h5 my-3">
                  Ordered Items
                </label>
                <div class="form-group row">
                  <div class="col-md-12 dt-responsive table-responsive">
                    <table id="po-detail-table" class="table table-hoverable table-bordered w-100">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Product Name</th>
                          <!-- <th>Description</th> -->

                          <th>Quantity</th>
                          <th>Price Per Unit</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-10">
                        <label>Notes</label>
                        <textarea class="form-control" name="message" id="message"></textarea>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row my-2">
                      <div class="col-md-6">
                        <label>Subtotal</label>
                      </div>
                      <div class="col-md-6">

                        <span class="d-flex"> &#8369;<p id="po_subtotal"></p></span>

                        <!-- <input class="form-control" id="" name=""  /> -->
                      </div>
                    </div>

                    <div class="row my-2">
                      <div class="col-md-6">
                        <label>Tax</label>
                      </div>
                      <div class="col-md-6">
                        <span class="d-flex"> &#8369;<p id="po_tax"></p></span>
                      </div>
                    </div>

                    <div class="row my-2">
                      <div class="col-md-6">
                        <label>Discount</label>
                      </div>
                      <div class="col-md-6">
                        <span class="d-flex"> &#8369;<p id="po_discount"></p></span>
                      </div>
                    </div>



                    <hr />

                    <div class="row my-2">
                      <div class="col-md-6">
                        <h5>Total</h5>
                      </div>
                      <div class="col-md-6">
                        <span class="d-flex"> &#8369;<p id="po_total"></p></span>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

                <div class="card-footer">

                <div class="row">

                  <div class="col-md-12 text-right set-btn">
                    <!-- <button type="reset" class="btn btn-default bg-dark" onclick="return clearProducts(0);">Cancel</button> -->
                    <button type="button" class="btn btn-default bg-default"
                      onClick="return formReset('hide')">Cancel</button>



                    <button type="submit" class="btn btn-primary submit" id="add-button">
                      Create Invoice
                      <i class="fas fa-plus ml-1"></i>
                    </button>

                  </div>
                </div>

           
            </div>


          </div>
          <!-- end card body -->
          </form>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- end form -->

    <div class="row">
      <div class="col-md-12">
        <!-- Card -->
        <div class="card card-primary card-outline">
          <!-- Card Header -->
          <div class="card-header">
           Invoices
          </div>
          <!-- /.card-header -->

          <!-- Card Body -->
          <div class="card-body">
            <table id="data-table" class="table table-hoverable table-bordered w-100">
              <thead>
                <tr>
                  <th>PO No.</th>
                  <th>Prepared_by</th>

                  <th>Invoice Date</th>
                  <th>Due Date</th>

             
                  <!-- <th>Total</th> -->
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>


</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->





<script src="{{ url_for('static', path='/dist/js/procurement/invoice/invoice.js') }}"></script>


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-xl">
  <div class="
          modal-dialog modal-default modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
              <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Add Invoice</div>
        </div>        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_id" name="form_id" enctype="multipart/form-data">
          <div class="row">

            <input class="form-control" type="hidden" id="uuid" name="uuid" readonly>

            <div class="col-md-12">
              <div class="form-group">
                <label for="first_name">Invoice Name</label>
                <input type="text" class="form-control" id="department_name" name="department_name"
                  placeholder="Invoice Name">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="contact_no">Contact No</label>
                <input type="text" class="form-control" id="contact_no" name="contact_no" placeholder="Contact No">
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="department_head">Invoice Head</label>
                <input type="text" class="form-control" id="department_head" name="department_head" placeholder="Invoice Head">
              </div>
            </div>


          </div>


          <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- delete -->
<div class="modal fade" id="modal-status">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"> 
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <div >
              <i class="text-secondary fas fa-times-circle mr-1"></i>
          </div>
          <div class="modal-title"></div>
        </div>
 
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Deativate this Invoice? </p>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="changeStatus">Yes, Deactive it</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}