{% extends "internal/p_officer_base.html" %}

{% set active_page = "purchase_order" %}
{% set active_module = "procurement" %}


{% block title
%}Purchase Order{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content %}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!-- Title -->
        <div class="col-sm-6">
          <!-- <h1>Purchase Order</h1> -->
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Purchase Order</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


      <div class="row" id="div_form">
        <div class="col-xl-12">
          <form id="form_id" name="form_id" enctype="multipart/form-data">
          <div class="card card-primary card-outline">
            <div class="card-body">

                <input type="hidden" id="uuid" name="uuid" />
                <input type="hidden" class="form-control" id="status" name="status" readonly />

                <div class="form-group row m-t-10">
                  <div class="col-md-6">
                    <!-- <label>Select Proposal Number</label> -->
                    <!-- <h2 id="proposal_rfq_number"></h2> -->
                    <!-- <select class="form-control select2" name="vendor_id" id="vendor_id">
    
                    </select> -->
                    <input type="hidden" name="vendor_id" id="vendor_id">

                  </div>
                </div>
            

                <div class="">
                <div class="form-group row">
                  <div class="col-md-6 ">
                    <label>Vendor</label>
                    <h3 id="vendor"></h3>
                  </div>

                  <div class="col-md-6 ">
                    <label>Date</label>
                    <h3 id="proposal_date"></h3>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-md-6 ">
                    <label>Prepared by</label>
                    <input type="text" class="form-control" id="prepared_by" name="prepared_by" readonly/>
                  </div>
                  <div class="col-md-6">
                    <label>Contact No</label>
                    <input type="text" class="form-control" id="contact_no" name="contact_no" readonly/>
                  </div>
                </div>




                <div class="form-group row mb-5">
                  <div class="col-md-12">
                    <label>Message</label>
                    <textarea name="proposal_message" id="proposal_message" class="form-control" readonly></textarea>
                  </div>
                </div>

                <hr />



                <h3 class="pb-3">Proposal Items</h3>

                <div class="form-group row ">
                  <div class="col-md-12 dt-responsive table-responsive">
                    <table id="proposal-items-table" class="table table-hover table-bordered w-100">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Category</th>
                          <th>Product</th>
                          <th>Description</th>
                          <th>Product Price</th>
                          <th>Quantity</th>
                          <th>Total Price</th>
                          <th>Action</th>


                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>



                <div class="row my-5">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-10">
                        <label>Notes</label>
                        <textarea class="form-control" name="notes" id="notes" rows="3" readonly></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row my-2">
                      <div class="col-md-2">
                        <label>Subtotal</label>
                      </div>
                      <div class="col-md-10 mb-3 input-group ">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&#8369;</span>
                        </div>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly />
                      </div>
                    </div>

                    <!-- <div class="row my-2">
                        <div class="col-md-2">
                          <label>Freight</label>
                      </div>
                        <div class="col-md-10">
                          <input type="number" class="form-control" id="freight" name="freight"  />
                      </div>
                    </div> -->

                    <div class="row my-2">
                      <div class="col-md-2">
                        <label>Tax</label>
                      </div>
                      <div class="input-group mb-3 col-md-10">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&#8369;</span>
                        </div>
                        <input type="number" class="form-control" id="tax" name="tax"readonly />

                      </div>
                    </div>

                    <div class="row my-2">
                      <div class="col-md-2">
                        <label>Discount</label>
                      </div>
                      <div class="input-group mb-3 col-md-10">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&#8369;</span>
                        </div>
                        <input type="number" class="form-control" id="discount" name="discount"readonly />

                      </div>
                    </div>

                    <hr />

                    <div class="row my-2">
                      <div class="col-md-3 form-group ">
                        <h5>Total</h5>
                      </div>
                      <div class="input-group mb-3 col-md-9">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&#8369;</span>
                        </div>
                        <input type="number" class="form-control" id="total" name="total" readonly />
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
            <div class="card-footer">

        
                <div class="row">

                  <div class="col-md-12 text-right set-btn">
                    <!-- <button type="reset" class="btn btn-default bg-dark" onclick="return clearProducts(0);">Cancel</button> -->
                    <button type="button" class="btn btn-default bg-default"
                      onClick="return formReset('hide')">Cancel</button>



                    <button type="button" class="btn btn-primary submit create-po" id="add-button"
                      onclick="purchaseOrder($('#uuid').val())">
                      Create Purchase Order
                      <i class="fas fa-file-export ml-1"></i>
                    </button>

                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
          </form>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="card card-primary card-outline card-tabs">

            <div class="card-header p-0 pt-1 border-bottom-0">
              <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-three-awarded-proposal-tab" data-toggle="tab" href="#custom-tabs-three-awarded-proposal" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Awarded Proposals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-three-po-tab" data-toggle="tab" href="#custom-tabs-three-purchase-order" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Purchased Order</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-three-to-rate-tab" data-toggle="tab" href="#custom-tabs-three-to-rate" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">Rate Vendor PO</a>
                </li>
              
              </ul>
            </div>

            <div class="card-body">
              <div class="tab-content" id="custom-tabs-three-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-three-awarded-proposal" role="tabpanel" aria-labelledby="custom-tabs-three-awarded-proposal-tab">

              <table id="data-table-proposals" class="table table-hover table-bordered w-100 text-center">
                <thead>
                  <tr>
                    <th>Vendor</th>
                    <th>Discount</th>
                    <th>Tax</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Ordered</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="custom-tabs-three-purchase-order" role="tabpanel" aria-labelledby="custom-tabs-three-po-tab">

              <table id="data-table-orders" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>PO No.</th>
                    <th>Vendor</th>
                    <th>Order Date</th>
                    <th>Expected Delivery Date</th>
                    <th>Payment Method</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody></tbody>
              </table>

            </div>
            <div class="tab-pane fade" id="custom-tabs-three-to-rate" role="tabpanel" aria-labelledby="custom-tabs-three-to-rate-tab">

              <table id="data-table-to-rate-po" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>PO No.</th>
                    <th>Vendor</th>
                    <th>Order Date</th>
                    <th>Expected Delivery Date</th>
                    <th>Payment Method</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody></tbody>
              </table>


            </div>


            </div>



          </div>

          </div>

        </div>
      </div>

 

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="{{ url_for('static', path='/dist/js/procurement/purchase_order/purchase_order.js') }}"></script>


<!-- Modal for Awardeed Proposals -->

<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-po">
  <div class="
          modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
        ">
    <form class="modal-content po-report-modal-content" id="form_po" name="form_po">
      <div class="modal-header po-report-modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
            <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Purchase Order</div>
        </div>
        <!-- <h4 class="modal-title">Purchase Request</h4> -->
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>

      <div class="modal-body po-report-modal-body modal-po p-5">

        <div class="row">
          <div class="col-md-6">
            <h1>Purchase Order</h1>

          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-6">
            <label>Order Date</label>

            <input type="text" class="form-control" id="order_date" readonly>
          </div>
    
          <div class="col-md-6">
            <label>Expected Delivery Date</label>

            <input type="date" class="form-control" id="expected_delivery_date" name="expected_delivery_date">

          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-4">
            <label>Payment Method</label>

                <select name="payment_method" class="form-control select2" id="payment_method">

                </select>
          </div>
    
          <div class="col-md-4">
            <label>Payment Terms</label>
          <select name="payment_terms" class="form-control select2" id="payment_terms">
                  
                </select>
          </div>

          <div class="col-md-4">
            <label>Shipment Method</label>
          <select name="shipment_method" class="form-control" id="shipment_method">
                <option value="Full Shipment">Full Shipment</option>
                <option value="Partial Shipment">Partial Shipment</option>

                </select>
          </div>
        </div>
    


        <hr />

        <div class="form-group row my-5">
          <div class="col-md-12 dt-responsive table-responsive">
            <table id="po-detail-table" class="table table-hoverable table-bordered w-100">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Product Name</th>
                  <th>Price Per Unit</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-10">
                <label>Notes</label>
                <textarea class="form-control" name="po_notes" id="po_notes" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row my-2">
              <div class="col-md-6">
                <label>Subtotal</label>
              </div>
              <div class="col-md-6">

                <span class="d-flex"> &#8369;<p id="po_subtotal"></p></span>

                <!-- <input class="form-control" id="" name=""  /> -->
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-6">
                <label>Tax</label>
              </div>
              <div class="col-md-6">
                <span class="d-flex"> &#8369;<p id="po_tax"></p></span>
              </div>
            </div>


            <div class="row my-2">
              <div class="col-md-6">
                <label>Discount</label>
              </div>
              <div class="col-md-6">
                <span class="d-flex"> &#8369;<p id="po_discount"></p></span>
              </div>
            </div>

            


            <hr />

            <div class="row my-2">
              <div class="col-md-6">
                <h5>Total</h5>
              </div>
              <div class="col-md-6">
                <span class="d-flex"> &#8369;<p id="po_total"></p></span>
              </div>
            </div>

          </div>

        </div>


      </div>

      <div class="modal-footer po-report-modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary print d-none">
          Print
          <i class="fas fa-print ml-1"></i>
        </button>
        <button type="submit" class="btn btn-primary submit-po">
          Purchase Order
          <i class="fas fa-file-export ml-1"></i>
        </button>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->



<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title cancel-order"></h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>


      <div class="modal-body">
        <p class="order-modal-body"> </p>
        
        <input type="hidden" id="del_uuid" name="del_uuid">

     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-info" onclick="changeStatus()" id="changeStatus">Cancel Order <i class="fas fa-times-circle ml-1"></i></button>

      </div>
  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Default Modal For deleting -->
<div class="modal fade" id="modal-vendor-rating">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <div>
            <i class="text-secondary fas fa-star mr-1"></i>
          </div>
          <div class="modal-title">Vendor Rating</div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        
        <input type="hidden" id="po_id" name="po_id">

        <div class="form-group row">
          <div class="col-md-6">
            <label>Cost</label>
            <!-- <input class="form-control" type="number" min="0" max="5" id="cost" name="cost"> -->
            <select class="form-control" name="cost" id="cost">
              <option value="5">Very Good</option>
              <option value="4">Good</option>
              <option value="3">Mediocre</option>
              <option value="2">Bad</option>
              <option value="1">Very Bad</option>
            </select>
          </div>
          <div class="col-md-6">
            <label>Timeliness</label>

            <!-- <input class="form-control" type="number" min="0" max="5" id="timeliness" name="timeliness"> -->
            <select class="form-control" name="timeliness" id="timeliness">
              <option value="5">Very Good</option>
              <option value="4">Good</option>
              <option value="3">Mediocre</option>
              <option value="2">Bad</option>
              <option value="1">Very Bad</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <label>Reliability</label>
            <!-- <input class="form-control" type="number" min="0" max="5" id="reliability" name="reliability"> -->
            <select class="form-control" name="reliability" id="reliability">
              <option value="5">Very Good</option>
              <option value="4">Good</option>
              <option value="3">Mediocre</option>
              <option value="2">Bad</option>
              <option value="1">Very Bad</option>
            </select>
          </div>
          <div class="col-md-6">
            <label>Quality</label>
            <!-- <input class="form-control" type="number" min="0" max="5" id="quality" name="quality"> -->
            <select class="form-control" name="quality" id="quality">
              <option value="5">Very Good</option>
              <option value="4">Good</option>
              <option value="3">Mediocre</option>
              <option value="2">Bad</option>
              <option value="1">Very Bad</option>
            </select>
            
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-6">
            <label>Availability</label>
            <!-- <input class="form-control" type="number" min="0" max="5" id="reliability" name="reliability"> -->
            <select class="form-control" name="availability" id="availability">
              <option value="5">Very Good</option>
              <option value="4">Good</option>
              <option value="3">Mediocre</option>
              <option value="2">Bad</option>
              <option value="1">Very Bad</option>
            </select>
          </div>
          <div class="col-md-6">
            <label>Reputation</label>
            <!-- <input class="form-control" type="number" min="0" max="5" id="quality" name="quality"> -->
            <select class="form-control" name="reputation" id="reputation">
              <option value="5">Very Good</option>
              <option value="4">Good</option>
              <option value="3">Mediocre</option>
              <option value="2">Bad</option>
              <option value="1">Very Bad</option>
            </select>
          </div>
        </div>

        
        <div class="form-group row">
          <div class="col-md-12">
            <label>Message</label>
            <textarea class="form-control" type="number" min="0" max="5" id="rating_message" name="rating_message"></textarea>
          </div>
       
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" onclick="return submitRating()" class="btn btn-primary">Submit <i
            class="fas fa-file"></i> </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %} {% block scripts %} {{ super() }} {% endblock %}