{% extends "internal/p_officer_base.html" %}
{% set active_page = "returns" %}
{% set active_module = "procurement" %}




{% block title %}Returns{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper px-3">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <!-- Title -->
        <div class="col-sm-6">
          <h1>Returns</h1>
        </div>

        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Returns</a></li>
          </ol>
        </div>
        <!-- / breadcrumb -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


      <div class="row">
        <div class="col-md-12">
          <!-- Card -->
          <div class="card card-primary card-outline">
            <!-- Card Header -->
            <div class="card-header p-0 pt-1 border-bottom-0">
              <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-three-returns-tab" data-toggle="tab" href="#custom-tabs-three-returns" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Returns</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-three-replacement-tab" data-toggle="tab" href="#custom-tabs-three-replacement" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Replacement Request</a>
                </li>
             
              
              </ul>
            </div>
            <!-- /.card-header -->

            <!-- Card Body -->
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-three-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-three-returns" role="tabpanel" aria-labelledby="custom-tabs-three-returns-tab">

              <table id="data-table-returns" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>Return Date</th>
                    <th>Returner</th>
                    <th>Return Type</th>
                    <th>Return Status</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

            <div class="tab-pane fade" id="custom-tabs-three-replacement" role="tabpanel" aria-labelledby="custom-tabs-three-replacement-tab">

              <table id="data-table-replacement" class="table table-hover table-bordered w-100">
                <thead>
                  <tr>
                    <th>Request Date</th>
                    <th>Prepared By</th>
                    <th>Return Type</th>
                    <th>Message</th>

                    <th>Status</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>

            
          </div>

            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>


    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<script src="{{ url_for('static', path='/dist/js/procurement/warehouse/returns.js') }}"></script>


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-xl">
  <div class="
          modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
              <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title">Return Details</div>
        </div>        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body p-5">
         

            <input class="form-control" type="hidden" id="uuid" name="uuid" readonly>


            <div class="form-group row">
              <div class="col-md-6">
                <label>Return Date</label>
                <p id="return_date"></p>
              </div>
              <div class="col-md-6">
                <label>Returner</label>
                <p id="returner"></p>
              </div>

            </div>

            
            <div class="form-group row">
              <div class="col-md-6">
                <label>Return Status</label>
                <p id="return_status"></p>
              </div>
              <div class="col-md-6">
                <label>Return Type</label>
                <p id="return_type"></p>
              </div>

            </div>

            <table id="return-details-table" class="table table-bordered table-hoverable w-100" >
              <thead>
                <tr>
                  <th>PO No</th>
                  <th>Category</th>
                  <th>Product Name</th>
                  <th>Ordered Quantity</th>
                  <th>Return Quantity</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>


          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal">
              Close
            </button>

          </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Extra Large Modal  For Updating, Adding and Viewing-->
<div class="modal fade" id="modal-replacement-request">
  <div class="
          modal-dialog modal-default modal-dialog-centered modal-dialog-scrollable
        ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center p-2">
          <div>
              <i class="text-secondary fas fa-file-alt mr-2"></i>
          </div>
          <div class="modal-title modal-title-user">Replacement Request</div>
        </div>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
    
      <form id="form_id" name="form_id">
      <div class="modal-body">
        <input type="hidden" id="replacement_request_id" name="replacement_request_id">
 
        
        

    
        <input type="hidden" class="form-control" id="return_id" name="return_id" readonly>
<!-- 
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="vendor_email">Request Type</label>
              <input type="email" class="form-control" id="vendor_email" name="vendor_email" placeholder="Email" readonly>
            </div>
          </div>
        </div> -->

        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label for="request_date" id="pass_text">Request Date</label>
              <input type="text" class="form-control" id="request_date" name="request_date" readonly>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label for="prepared_by">Prepared By</label>
              <input type="text" class="form-control" id="prepared_by" name="prepared_by" readonly>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label for="message">Message</label>
              <textarea name="message" id="message" class="form-control"></textarea>
            </div>
          </div>
        </div>
        
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit"  class="btn btn-primary">
            Submit to Vendor
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Default Modal For updating and deleting -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title cancel-request"> Request</h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>


      <div class="modal-body">
        <p class="request-modal-body"> </p>
        
        <input type="hidden" id="uuid" name="uuid">

     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-info" onclick="changeStatus()" id="changeStatus">Cancel Request <i class="fas fa-times-circle ml-1"></i></button>

      </div>
  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}